/Microcontroller/ilias
/Microcontroller/pictures

Microcontroller/mem3_EmbeddedSys_Microcontroller_SGL_stst.lyx~
/Microcontroller/sgl_data
Wireless Networks/Project00_FindMeProfile/iprintf.zip
/Field busses
/Wireless networks/01 Lecture Notes
/Wireless networks/02 Materials and Links
/Wireless networks/10 Cypress PSOC4 BLE
/Wireless networks/Project00 -- FindMe Profile
/Wireless networks/Project20 -- Custom Profile
/_MEM3-ES_Info.pdf
Microcontroller/Cortex-M0.pdf
Microcontroller/Microcontroller.pdf
Microcontroller/PSoC/Lab_02_PWM-Button.pdf
Microcontroller/PSoC/Lab_01_First-Inter-Serial.pdf
Microcontroller/_MEM3-ES_Microcontroller.pdf
Microcontroller/Microcontroller-Adds.pdf
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_info
