/Microcontroller/ilias
/Microcontroller/pictures

Microcontroller/mem3_EmbeddedSys_Microcontroller_SGL_stst.lyx~
/Microcontroller/sgl_data
Wireless Networks/Project00_FindMeProfile/iprintf.zip
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib.qdb
Hardware Description Languages/lab02_7segmentDriver/sim_sv/modelsim.ini
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib1_0.qdb
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib1_0.qpg
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib1_0.qtl
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_vmake
*.wlf
*.qdb
Hardware Description Languages/lab02_7segmentDriver/sim_sv/work/_lib1_0.qpg
*.qtl
Hardware Description Languages/lab02_7segmentDriver/sim_sv/work/_info
Hardware Description Languages/lab02_7segmentDriver/sim_sv/work/_vmake
