/Microcontroller/ilias
/Microcontroller/pictures

Microcontroller/mem3_EmbeddedSys_Microcontroller_SGL_stst.lyx~
/Microcontroller/sgl_data
Wireless Networks/Project00_FindMeProfile/iprintf.zip
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib.qdb
Hardware Description Languages/lab02_7segmentDriver/sim_sv/modelsim.ini
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib1_0.qdb
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib1_0.qpg
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_lib1_0.qtl
Hardware Description Languages/lab01_majority_vote/sim_sv/work/_vmake
*.wlf
*.qdb
Hardware Description Languages/lab02_7segmentDriver/sim_sv/work/_lib1_0.qpg
*.qtl
Hardware Description Languages/lab02_7segmentDriver/sim_sv/work/_info
Hardware Description Languages/lab02_7segmentDriver/sim_sv/work/_vmake
*.zip
*.kpt
*.hsd
*.qmsg
*.hif
*.html
*.txt
*.ammdb
*.bpm
*.logdb
Hardware Description Languages/lab02_7segmentDriver/src_sv/sevenseg.sv.bak
Hardware Description Languages/50_FPGA/c5g_rev_B.pdf
Hardware Description Languages/50_FPGA/cv_5v1.pdf
Hardware Description Languages/lab04_upcounter/sim_sv/modelsim.ini
Hardware Description Languages/lab04_upcounter/sim_sv/work/_info
Hardware Description Languages/lab04_upcounter/sim_sv/work/_lib1_0.qpg
Hardware Description Languages/lab04_upcounter/sim_sv/work/_vmake
